* {
  margin: 0;
  padding: 0;
}

/* User Story #14: On regular sized devices (laptops, desktops), the element with id="navbar"
 should be shown on the left side of the screen and should always be visible to the user. */

nav {
  top: 0;
  position: fixed;
  min-height: 100%;
  overflow: auto;
  background-color: lightgoldenrodyellow;
}

ul {
  height: 100%;
}

.nav-header {
  position: relative;
  max-width: 16vw;
  padding: 2em 0;
  border-bottom: 1px solid;
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

#navbar li {
  list-style: none;
  position: relative;
}

.main-list {
  list-style-type: none;
  padding: .5rem 1rem;
  border-bottom: 2px solid lightgrey;
  max-width: 20em;
}
.nav-link{
  font-size: 1.3em;
  font-weight: 500;
}
li a {
  border-bottom: 1px solid;
  list-style-type: none;
  text-align: center;
  display: block;
  text-decoration: none;
  padding: 1em;
  color: black;
  max-width: 16vw;
}

li a:hover {
  margin:0;
  background-color: lightgray;
}

#main-doc {
  position: absolute;
  left: 20vw;
  margin: 2vw;
  background-color: lightgray;
}

p {
  margin-top: 4vh;
}

.lgheader {
  font-size: 2em;
  font-weight: bolder;
  padding-left: 2vw;
  position: relative;
}

.mdheader {
  font-size: medium;
  font-weight: bold;
  padding: 2vh 0 2vh;
}

.main-section {
  margin: 2vw;
}

@media only screen and (max-width: 600px) {
  nav {
    top: 0;
    position: fixed;
    max-width: 100%;
    max-height: 8em;
    display: block;
    overflow: auto;
    background-color:lightgray;
    z-index: 3;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .nav-header {
    top: 0;
    margin: 0;
    max-width: 100%;
    clear: both;
  }
  #navbar li {
    float: left;
  }
  li a {
    display: block;
    max-width: 7em;
    height: 2em;
  }
  #main-doc {
    left: 0;
    margin: 1em;
    background-color: lightgoldenrodyellow;
  }
  section::before {
    display: block;
    content: " ";
    margin-top: 9em;
    height: 9em;
    visibility: hidden;
    pointer-events: none;
  }
  #Code_Editors{
    margin-top: -7em;
  }
}

/*
User Story #15: My Technical Documentation page should use at least one media query. 
*/

